{% extends 'studenttesting/base.html' %}
{% block title %}
	{% if user.user_type.id == 3 %}
		Страница студента - {{ user.full_name }}
	{% else %}
		Страница преподавателя - {{ user.full_name }}
	{% endif %}
{% endblock %}
{% load static %}
{% block content %}
<!-- common content -->
<h1>{{ data.user.full_name }}</h1>
<h2>{{ data.user.email }}</h2>
<hr>
<!-- END common content -->
{% if data.user.user_type.id == 3 %}
	<!-- student content -->
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<img src="{{ data.avatar }}" width="50" height="50" /> <br />
		{{ form.as_p }}
		<label><font color="red">{{ data.phone_error }}</font></label><br />
		<input type="submit" value="Сохранить" />
	</form>
	<!-- END student content -->
{% else %}
	<!-- teacher content -->
	
	<!-- END teacher content -->
{% endif %}
{% endblock %}