{% extends 'studenttesting/base.html' %}

{% block title %}Тесты - {{ user.full_name }}{% endblock %}

{% load static %}


{% block content %}

{% if data.result %}
	<ul>
	{% for elem in data.result %}
		{% if elem.1 == 'Пройдено' %}
		<li><a href="{% url 'studenttesting:results' elem.0.id %}">{{ elem.0.name }}</a> - {{ elem.1}}</li>
		{% else %}
		<li><a href="{% url 'studenttesting:test' elem.0.id %}">{{ elem.0.name }}</a> - {{ elem.1}}</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endif %}
{% endblock %}