{% extends 'studenttesting/base.html' %}

{% block title %}Тест: {{ data.test.name }}{% endblock %}

{% load static %}


{% block content %}
<form method="post" action="{% url 'studenttesting:test' data.test.id %}/results" accept-charset="utf-8">
	{% csrf_token %}
	{{ form.as_ul }}
	{% for question in form.questions_dict %}
		{{ question }} <br>
	{% endfor %}
	{% for question in form.questions_list %}
		{{ question.choices.0.0 }} <br>
	{% endfor %}
	<input type="submit" value="Отправить результат">
</form>
{% endblock %}