{% extends 'studenttesting/base.html' %}

{% block title %}Тесты - {{ full_name }}{% endblock %}

{% load static %}


{% block content %}
<!-- menu -->
<p>
	<div class="menu">
		{% for elem in menu %}
			{% if forloop.last %}
				<a href="{{ elem.url }}">{{ elem.name }}</a>
			{% else %}
				<a href="{{ elem.url }}">{{ elem.name }}</a> | 
			{% endif %}
		{% endfor %}
	</div>
</p>
<!-- END menu -->
<table border="0">
	<ul class="tests">
		{% for elem in tests %}
		<tr>
			<td><li>
				{% for k, v in results.items %}
					{% if k == elem.id %}
						{% if v == 'Не пройдено' %}
							<!-- ССЫЛКА НА ТЕСТ -->
							<a href="{% url 'studenttesting:test' elem.id %}">{{ elem.name }}</a>
						{% else %}
							<!-- ССЫЛКА НА РЕЗУЛЬТАТЫ -->
							<a href="{% url 'studenttesting:test' elem.id %}/results">{{ elem.name }}</a>
						{% endif %}
					{% endif %}
				{% endfor %}
			</li></td>
			<td>
				{% for k, v in results.items %}
					{% if k == elem.id %}
						{{ v }}
					{% endif %}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</ul>
</table>
{% endblock %}