{% extends 'studenttesting/base.html' %}

{% block title %} История {% endblock %}

{% load static %}


{% block content %}

<h1>История</h1>
<h2>Студент: {{ data.user.full_name }}</h2>
<hr />
<table border="1">
	<tr>
		<th><center>Тест</center></th>
		<th><center>Дата прохождения</center></th>
		<th><center>Правильных ответов</center></th>
		<th><center>Неправильных ответов</center></th>
		<th><center>Оценка</center></th>
	</tr>
	{% for result in data.results %}

	<tr>
		<td>{{ result.0.test.name }}</td>
		<td align="center">{{ result.0.completion_date }}</td>
		<td align="center">{{ result.1.0 }}</td>
		<td align="center">{{ result.1.1 }}</td>
		<td align="center">{{ result.1.2 }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}