{% extends 'studenttesting/base.html' %}

{% block title %} Список студентов {% endblock %}

{% load static %}

{% block content %}
<h1>Список студентов</h1>
<h2>Преподаватель: {{ data.user.full_name }}</h2>
<hr />

<form method="POST" action="{% url 'studenttesting:clear_result' %}">
	{% csrf_token %}
	<table border="0">
		<tr>
			<th><center>Студент</center></th>
			<th><center>Тест</center></th>
			<th><center>Дата прохождения</center></th>
			<th><center>Правильных ответов</center></th>
			<th><center>Неправильных ответов</center></th>
			<th><center>Оценка</center></th>
			<th><center><input type="submit" value="Очистить результат"></center></th>
		</tr>
		{% for user, data in students_results.items %}
			<tr>
				{% if data.results|length > 1 %}
					<td rowspan='{{ data.results|length|add:"1" }}'>{{ user.full_name }}</td>
				{% else %}
					<td rowspan='{{ data.results|length|add:"1" }}'>{{ user.full_name }}</td>
					{% if data.results|length == 0 %}
						<td colspan="5" align="center">Нет пройденных тестов</td>
					{% endif %}
				{% endif %}
			</tr>
			{% if data.results|length != 0 %}

				{% for elem in data.results %}
				<tr>
				
					<td>{{ elem.0.test.name }}</td>
					<td align="center">{{ elem.0.completion_date }}</td>
					{% for note in elem.1 %}
					<td align="center">{{ note }}</td>
					{% endfor %}
					<td align="center"> <input type="checkbox" name="user_{{ user.id }}" value="test_{{ elem.0.test.id }}" /></td>
				</tr>
				
				{% endfor %}
			{% endif %}
		{% endfor %}
	</table>
</form>
{% endblock %}